// MEDIA WIDTH //
$tablet-width: 768px;
$desktop-width: 1024px;

// color //
$primary-color: #2f3bea;
$grey-ish: #585858;
$body-bg: rgba(74, 144, 226, 0.05);
$html: rgba(228, 77, 39, 0.7);
$css: rgba(0, 112, 186, 0.7);
$js: rgba(99, 168, 20, 0.7);
$react: rgba(13, 218, 250, 0.7);
$node: rgba(253, 147, 39, 0.7);
$express: rgba(155, 188, 79, 0.7);
