@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgba(74, 144, 226, 0.05);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-content {
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  margin: 25px auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-width: 850px;
}

.header-content-wrapper {
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .header-content-wrapper {
    padding: 48px 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .header__left {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
}

.header__memoji {
  width: 100%;
}

.header__emoji {
  font-size: 32px;
  margin: 0;
}

@media (min-width: 768px) {
  .header__emoji {
    font-size: 38px;
  }
}

.header__intro--title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #585858;
}

@media (min-width: 768px) {
  .header__intro--title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 38px;
    font-weight: 700;
  }
}

.header__intro--para {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.header__intro--purple {
  color: #2f3bea;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.social-media__link {
  color: rgba(0, 0, 0, 0.5);
}

.social-media__link:nth-child(2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.social-media__link:hover {
  color: rgba(47, 59, 234, 0.7);
}

.projects {
  margin: 20px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #585858;
}

@media (min-width: 768px) {
  .projects__title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 38px;
    font-weight: 700;
  }
}

.projects__img {
  width: 100%;
}

.projects__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects__tag {
  margin-top: 8px;
  border-radius: 25px;
  border: none;
  color: #f8f8f8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.projects__tag:nth-child(2) {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.projects__tag--html {
  background-color: rgba(228, 77, 39, 0.7);
}

.projects__tag--css {
  background-color: rgba(0, 112, 186, 0.7);
}

.projects__tag--js {
  background-color: rgba(99, 168, 20, 0.7);
}

.projects__tag--react {
  background-color: rgba(13, 218, 250, 0.7);
}

.projects__tag--node {
  background-color: rgba(253, 147, 39, 0.7);
}

.projects__tag--express {
  background-color: rgba(155, 188, 79, 0.7);
}

.projects__card {
  margin: 20px 8px;
  padding: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .projects__card:hover {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: cardPulse;
            animation-name: cardPulse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .projects__card:hover::before {
    border: none;
  }
  .projects__card:hover::after {
    border: none;
  }
}

.projects__card::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: thin solid #aaa;
  border-left: thin solid #aaa;
  top: 0;
  left: 0;
}

.projects__card::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-bottom: thin solid #aaa;
  border-right: thin solid #aaa;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  .projects__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
  }
}

.projects__card-left {
  width: 100%;
}

@media (min-width: 768px) {
  .projects__card-left {
    width: 40%;
  }
}

.projects__card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .projects__card-right {
    width: 40%;
  }
}

.projects__card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .projects__card-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    font-weight: 600;
  }
}

.projects__card-desc {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.projects__card-desc--grey {
  color: #585858;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .projects__card-desc {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

.projects__btn {
  margin-top: 1rem;
  text-decoration: none;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: thin solid rgba(0, 0, 0, 0.3);
  padding: 8px 12px 6px;
  width: 120px;
}

@media (min-width: 1024px) {
  .projects__btn:hover {
    border: thin solid rgba(47, 59, 234, 0.75);
  }
}

@-webkit-keyframes cardPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
            box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
  }
  50% {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
    -webkit-box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.17);
            box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.17);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
            box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
  }
}

@keyframes cardPulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
            box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
  }
  50% {
    -webkit-transform: scale(1.015);
            transform: scale(1.015);
    -webkit-box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.17);
            box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.17);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
            box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.23);
  }
}

.footer {
  margin-top: 48px;
  margin-bottom: 48px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.footer__link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: rgba(47, 59, 234, 0.5);
}

.footer__link:hover {
  color: rgba(47, 59, 234, 0.7);
}
/*# sourceMappingURL=main.css.map */